/* Base : */
@import './base/reset.css';
@import './base/variables.css'; /* :root{} comes from this part ; */
@import './base/global-form.css';

/* 3rd-party : */

/* Components : */
@import './components/button.css';

/* CUSTOME STYLE (HOME PAGE) OPEN : */

/* .wrapper >  */.wrapper-row {
    display: flex;
    justify-content: center;
    width: var(--global-container-width); /* window.clientWidth i.e. user-agent viewport width excluding scrollbar */
    min-height: 100vh; /* otherwise some strict numeric value e.g. 800px */
    border: 4px dashed red; /* as if for .wrapper > .wrapper-row div[class*="col-"] {border: 2px dashed red} | might be required to change */
    background: rgba(0, 0, 0, 0) url("../img/header-1.jpg") no-repeat scroll center center / cover;
    z-index: 0;
}

/* .wrapper >  */.wrapper-row > .row-header {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: /* minmax(80px, auto) */ 80px 1fr;
    grid-template-areas: 
    "rh-nav rh-nav"
    "rh-aside-1 rh-aside-2";
    width: /* var(--global-container-width) */ var(--inner-container-width); /* change between to see the difference */
    height: auto; /* from now on .row-header children will state rules of height the .row-header have to adjust to */

}

.wrapper-row > /* .row-header > */ img#color-overlay {
    width: 100%; /* currently 100% of var(--global-container-width) */
    height: 100%; /* = 100% of 100vh of the screen : it presumably inherits not dirrectly from .row-header as it auto, but from .wrapper-row  */
    background: linear-gradient(-47deg, #8731E8 0%, rgba(69, 40, 220, 0.88) 100%); position: absolute; top: 0;
    z-index: 1;
}

.wrapper-row > .row-header > * {
    z-index: 2; /* FROM NOW ON TEXT IS VISIBLE */
}

.wrapper-row > .row-header > *:not(nav) {
    border: 2px dashed rgb(245, 165, 25);
}

.wrapper-row > .row-header > nav {
    grid-area: rh-nav;
    border: 2px dashed rgb(245, 25, 25);
    background-color: yellow;
}

.wrapper-row > .row-header > aside.left-column {
    grid-area: rh-aside-1;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-self: center;
    justify-self: center;
    background-color: lightgoldenrodyellow;
}

.wrapper-row > .row-header > aside.right-column {
    grid-area: rh-aside-2;
    background-color: rgb(225, 0, 255);
}

.row-header > aside > h1 {
    font-size: 56px;
    font-weight: 600;
    color: lightgreen;
}

.row-header > aside > p {
    font-size: 28px;
    font-weight: 400;
    color: rosybrown;
}

.row-header > aside > a.row-header--btn {
    width: fit-content;
    justify-self: left;
    padding: 16px 32px;
    font-size: 16px !important;
    border-radius: 999px;
    text-transform: uppercase;
    background: white;
    color: rgb(110, 110, 110);
}

/* NOTICE : in order for :hover to work use same path selector as above! */
.row-header > aside > a.row-header--btn:hover {
    background: var(--primary-btn-background);
    color: white;
}