/* [relatively largest logical resolution] */
@media only screen and (max-width: 1920px) {
    .wrapper-row {
    width: var(--global-container-width);
    }
}

/* [the range in between relatively largest & max-width: 992px] */
@media only screen and (max-width: var(--global-container-width)) {
    .wrapper-row {
    width: var(--global-container-width);
    }
}

/* [specific breakpoint] */
@media only screen and (max-width: 1200px) {
    .wrapper-row {
    width: var(--global-container-width);
    }
    .wrapper-row > .row-header { /* all the other should .row- would have default grid-template-columns: as repeat(2, 1fr)  */
        display: grid;
        grid-template-columns: 1fr;
        width: var(--global-container-width);
        grid-template-areas: 
        "rh-nav"
        "rh-aside-1"
        "rh-aside-2";
    }
    nav .nav-menu {
        display: none; /* instead do burger */
    }
    .global-form {
        margin-top: 50px;
    }
}