/* [relatively largest logical resolution] */
/* @media only screen and (max-width: 1920px) {
    .some-class {
        some-prop: some-value;
    }
} */

/* [specific breakpoint] */
@media only screen and (max-width: 1200px) {
    .wrapper-row > .row-header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "rh-nav"
        "rh-aside-1"
        "rh-aside-2";
        width: var(--global-container-width);
    }
    nav .nav-menu {
        display: none; /* instead do burger */
    }
    .global-form {
        margin-top: 50px;
    }
    .wrapper > .row-header2 {
        width: var(--global-container-width);
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "rh2-col12 rh2-col12"
        "rh2-1-col3 rh2-2-col3"
        "rh2-3-col3 .";
    }
    .wrapper > .row-header3 {
        width: var(--global-container-width);
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 992px) {
    .wrapper .row-header3 {
        width: var(--global-container-width);
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 768px) {
    .wrapper > .row-header2 {
        width: var(--global-container-width);
        grid-template-columns: 1fr;
        grid-template-areas: 
        "rh2-col12"
        "rh2-1-col3"
        "rh2-2-col3"
        "rh2-3-col3";
    }
}