.global-form {
    display: grid;
    max-width: 450px;
    height: 530px;
    padding: 50px;
    border-radius: 8px;
    background-color: white;
}

.global-form * {
    width: 100%;
    text-align: center;
}

.global-form button#save-btn {
    color: white;
    background: linear-gradient(-47deg, #8731E8 0%, rgba(69, 40, 220, 0.88) 100%);
}