:root{
    --global-container-width: calc(100vw - (100vw - 100%));
    --global-minheight: 100vh;
    --global-container-padding-left: 200px;
    --inner-container-width: calc( var(--global-container-width) - ( var(--global-container-padding-left) * 2 ) ); /* between helper lines */
    --primary-btn-background: linear-gradient(-47deg, #8731E8 0%, #4528DC 100%);
}
