.wrapper-row {
    display: flex;
    justify-content: center;
    position: relative;
    width: var(--global-container-width); /* window.clientWidth i.e. user-agent viewport width excluding scrollbar */
    min-height: 870px;
    background: rgba(0, 0, 0, 0) url("../../../img/header-1.jpg") no-repeat scroll center center / cover;
    z-index: 0;
}

.wrapper-row, .wrapper-row * {
    height: auto; /* CRUCIAL LINE [DO NOT REMOVE] : IT AUTOMATICALLY ADJUST PARENT CONTAINER HEIGHT TO CHILDREN CONTENT */
}

.wrapper-row > .row-header { /* all the other should .row- would have default grid-template-columns: as repeat(2, 1fr)  */
    display: grid;
    grid-template-columns: calc(var(--global-container-width) * 0.6) calc(var(--global-container-width) * 0.4)/* repeat(2, 1fr) */;
    grid-template-rows: /* minmax(80px, auto) */ 80px 1fr;
    grid-template-areas: 
    "rh-nav rh-nav"
    "rh-aside-1 rh-aside-2";
    width: /* var(--global-container-width) */ var(--inner-container-width); /* change between to see the difference */
}

.wrapper-row > img#color-overlay {
    width: 100%; /* currently 100% of var(--global-container-width) */
    height: 100%; /* = 100% of 100vh of the screen : it presumably inherits not dirrectly from .row-header as it auto, but from .wrapper-row  */
    background: linear-gradient(-47deg, #8731E8 0%, rgba(69, 40, 220, 0.88) 100%); position: absolute; top: 0;
    z-index: 1;
}

.wrapper-row > .row-header > * {
    z-index: 2; /* FROM NOW ON TEXT IS VISIBLE */
}

.wrapper-row > .row-header > *:not(nav) {
    /* border: 2px dashed rgb(245, 165, 25); */
}

.wrapper-row > .row-header > nav {
    grid-area: rh-nav;
    /* border: 2px dashed rgb(245, 25, 25); */
    color: white;
}

/* --- */

.row-header .nav-logo , .nav-menu {
    align-self: center;
}

nav {
    display: flex;
    flex-direction: row;
    /* border: 2px dashed rgb(245, 25, 25); */
    color: white;
}

nav > .nav-logo {
    margin-right: 10%;
}

nav .nav-menu {
    display: flex;
    justify-content: flex-end;
    /* gap: 30px; */ /* pixels are NOT reponsive-friendly */
    gap: 4%;
    margin-right: 2%;
    width: 100%;
}

.wrapper-row > .row-header > nav .nav-menu * {
    font-weight: 200;
    color: white;
}

/* --- */

.wrapper-row > .row-header > aside.left-column {
    grid-area: rh-aside-1;
    height: min-content;
    align-self: center;
}

.row-header > aside.left-column > article {
    display: flex; 
    flex-direction: column;
    row-gap: 20px;
    max-width: 610px;
    min-height: 310px /* !important */;
}

.row-header > aside.left-column h1 {
    font-size: 56px;
    font-weight: 600;
    color: white;
}

.row-header > aside.left-column p {
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.row-header > aside.left-column a.row-header--btn {
    width: fit-content;
    padding: 16px 32px; /* only when display : flex , otherwise it may overlap other content */
    border-radius: 999px;
    font-size: 16px !important; text-transform: uppercase; color: rgb(110, 110, 110);
    background: white;
}

/* NOTICE : in order for :hover to work use same path selector as above! */
.row-header > aside.left-column a.row-header--btn:hover {
    transition-duration: 1s;
    background: var(--primary-btn-background);
    color: white;
}

.wrapper-row > .row-header > aside.right-column {
    grid-area: rh-aside-2;
    align-self: center;
    justify-self: center;
}

.wrapper-row > .shape-bottom {
    transform: rotate(180deg);
    width: var(--global-container-width);
    position: absolute;
    top: 0px;
    bottom: -1px;
    left: 0;
    right: 0;
    z-index: 1;
}

/* DO NOT REMOVE THIS CLASS! : IT ADJUST SIZE OF --inner-container-width FOR ALL OTHER CLASSES , EXCEPT .row-header  */
.wrapper-row > div[class*="row-"]:not(.row-header) {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* or any another relative variation of columns needed */
    width: var(--inner-container-width);
    border: 2px dashed rgb(245, 25, 25);
}

/* --- */

/* express functionality : open */
.row-header2 {
    display: grid; 
    width: inherit;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "rh2-col12 rh2-col12 rh2-col12"
    "rh2-1-col3 rh2-2-col3 rh2-3-col3";
    background-color: white;
    background: none !important;
}

.row-header2 > .col-12 {
    grid-area: rh2-col12;
    justify-content: left;
}

.row-header2 > div.col-3:nth-of-type(2) {
    grid-area: rh2-1-col3;
}

.row-header2 > div.col-3:nth-of-type(3) {
    grid-area: rh2-2-col3;
}

.row-header2 > div.col-3:nth-of-type(4) {
    grid-area: rh2-3-col3;
}

/* express functionality : open; */
.express {
    align-content: left;
    padding: 50px 50px;
}

.premium-border {
    width: 200px;
    border-radius: 25px;
    border: 1px solid #f6f6f6;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    box-shadow: 1px 5px 5px #dfd6d6;
    padding: 5px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
    color: black;
    font-size: 15px;
}

.premium-border > span {
    color: #8961e3;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 15px;
}

.express > h1 {
    font-size: 40px;
    line-height: 1.3;
    color: #222;
    margin-bottom: 0px;
}

.hor-line {
    border: 2px solid #8961e3;
    width: 110px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #8961e3;
    height: 0;
}

.border-3x2 {
    border: 1px solid #dfd6d6;
    box-shadow: 4px 4px 15px #dfd6d6;
    border-radius: 25px;
    margin: 20px;
    padding: 45px;
    text-align: center;
}

.border-3x2:hover {
    transform: translateY(-10px);
    box-shadow: 5px 5px 30px #dfd6d6;
    transition-duration: 0.5s;
}

.border-3x2 > img {
    width: 50px;
}

.border-3x2 > h4 {
    font-size: 20px;
    font-weight: 600;
}

.border-3x2 > .icons-text {
    font-weight: 400;
    font-size: 14px;
    color: #565656;
}

/* express functionality: close ;  */